# Python Basics

Notebook adapted from [this notebook](https://github.com/mromanello/ADA-DHOxSS/blob/master/notebooks/1.1%20Skills%20Python.ipynb) by Matteo Romanello.

## Data types

### Numerical

Python has two numerical data types:
- `int`, e.g. `10`
- `float`, e.g. `10.12`

In [ ]:
i = 10

In [ ]:
type(i)

int

In [ ]:
f = 10.12

In [ ]:
type(f)

float

Python has two signs for division, which produce different results:

In [ ]:
i // 3 == i / 3

False

In [ ]:
i // 3

3

In [ ]:
i / 3

3.3333333333333335

In [ ]:
type(i // 3)

int

In [ ]:
type(i / 3)

float

### Strings

In [2]:
mystring = "A string of text"

In [3]:
type(mystring)

str

Strings in Python are **list** of characters, thus they can be manipulated as any other *iterable*.

In [ ]:
# we can iterate through the characters
# of a string

for char in mystring:
    print(char)

A

s
t
r
i
n
g

o
f

t
e
x
t

In [ ]:
# slicing by means of indices works as expected

mystring[2:]

'string of text'

In [ ]:
mystring[-1]

't'

#### Concatenation

In [ ]:
newstring = "This is " + mystring.lower()

In [ ]:
newstring

'This is a string of text'

A very handy feature introduced in Python 3.6.x are f-strings:
- they are declared by prepending the character `f` to the quote signs containing the text
- they use curly brackets `{variable_name}` to specify the position in a string where the content of an existing variable should be inserted.

In [ ]:
f'## {mystring} ##'

'## A string of text ##'

The curly brackets can contain *any* Python expression (except assignment of variables); the expression will be executed and its returned output interpolated within the string template.

In [ ]:
f'The length of `mystring` is {len(mystring)} characters.'

'The length of `mystring` is 16 characters.'

**Q**: Can you explain what's going on in the cell below?

In [ ]:
s = "repetita iuvant"
print(f'{", ".join([s for i in range(0, 10)])}')

repetita iuvant, repetita iuvant, repetita iuvant, repetita iuvant, repetita iuvant, repetita iuvant, repetita iuvant, repetita iuvant, repetita iuvant, repetita iuvant

Can you rewrite the cell above in an alternative way?

#### Transformation

In [ ]:
mystring.lower()

'a string of text'

In [ ]:
mystring.upper()

'A STRING OF TEXT'

In [ ]:
mystring.replace("string", "list").replace("text", "characters")

'A list of characters'

### Date and time

 Limit of this data type when working with historical data (timestamps failed before a certain date around 1700).

#### `datetime.date`

In [ ]:
from datetime import date, datetime

In [ ]:
# `date` takes three arguments:
# 1. year, 2. month, 3. day

d = date(1982, 7, 17)

In [ ]:
type(d)

datetime.date

**NB**: When creating a date, order matters! Try this:

In [ ]:
d = date(19, 7, 1782)

ValueError: day is out of range for month

In [ ]:
d.today()

datetime.date(2019, 7, 21)

In [ ]:
f'{d.day}.{d.month}.{d.year}'

'17.7.1982'

In [ ]:
f'{d.year}/{str(d.month)}/{d.day}'

'1982/7/17'

In [ ]:
f'{d.year}/{str(d.month).zfill(2)}/{d.day}'

'1982/07/17'

#### `datetime.datetime`

`datetime` adds information about hour/minute/second/micro second to a date.

In [ ]:
from datetime import datetime

In [ ]:
dt = datetime.utcnow()

In [ ]:
dt

datetime.datetime(2019, 7, 21, 18, 28, 52, 422532)

In [ ]:
dt.isoformat()

'2019-07-21T18:28:52.422532'

In [ ]:
dt.date()

datetime.date(2019, 7, 21)

In [ ]:
datetime.now().strftime("%m/%d/%Y, %H:%M:%S")

'07/21/2019, 20:28:53'

## Python data structures

### Lists

In [ ]:
l = list(range(0, 5))

In [ ]:
l

[0, 1, 2, 3, 4]

The `extend()` method can be used to append elements to an existing list.

**NB**: `extend` operates directly on the list, modifying it in place.

In [ ]:
l.extend(range(1, 10))

In [ ]:
l

[0, 1, 2, 3, 4, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
l + list(range(5, 10))

[0, 1, 2, 3, 4, 1, 2, 3, 4, 5, 6, 7, 8, 9, 5, 6, 7, 8, 9]

In [ ]:
l

[0, 1, 2, 3, 4, 1, 2, 3, 4, 5, 6, 7, 8, 9]

`count()` can be used to count the number of times a given value is found within a list:

In [ ]:
for n in range(0, 10):
    print(f'{n} occurs {l.count(n)} times in list `l`')

0 occurs 1 times in list `l`
1 occurs 2 times in list `l`
2 occurs 2 times in list `l`
3 occurs 2 times in list `l`
4 occurs 2 times in list `l`
5 occurs 1 times in list `l`
6 occurs 1 times in list `l`
7 occurs 1 times in list `l`
8 occurs 1 times in list `l`
9 occurs 1 times in list `l`

In [ ]:
l

[0, 1, 2, 3, 4, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
l.index(4)

4

`pop()` remove the last item of a list and, as `extend()`, operates directly on the variable, modifying its value.

In [ ]:
while(len(l) > 0):
    print(f'Removing {l.pop()} from my list')
    print(f'Size of `l` is {len(l)}')

Removing 9 from my list
Size of `l` is 13
Removing 8 from my list
Size of `l` is 12
Removing 7 from my list
Size of `l` is 11
Removing 6 from my list
Size of `l` is 10
Removing 5 from my list
Size of `l` is 9
Removing 4 from my list
Size of `l` is 8
Removing 3 from my list
Size of `l` is 7
Removing 2 from my list
Size of `l` is 6
Removing 1 from my list
Size of `l` is 5
Removing 4 from my list
Size of `l` is 4
Removing 3 from my list
Size of `l` is 3
Removing 2 from my list
Size of `l` is 2
Removing 1 from my list
Size of `l` is 1
Removing 0 from my list
Size of `l` is 0

In [ ]:
# you cannot remove an element from an empty list

l.pop()

IndexError: pop from empty list

### Dictionaries

In [7]:
d = {
    "count": 0,
    "type": "child",
    "average": 1.2
}

In [8]:
d.keys()

dict_keys(['count', 'type', 'average'])

In [9]:
d.values()

dict_values([0, 'child', 1.2])

In [10]:
d['count']

0

### Tuples

Tuples are similar to lists, as they are both iterables.

In [ ]:
t = tuple((0, "child", 1.2))

In [ ]:
t

(0, 'child', 1.2)

As any interable, you can iterate over it (as one would expect):

In [ ]:
for value in t:
    print(value)

0
child
1.2

The main difference between the two is that tuples do no support slicing.

In [ ]:
t[1] = 'adult'

TypeError: 'tuple' object does not support item assignment